/*!
 * Start Bootstrap - New Age v3.3.7 (http://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
 .con{
  font-family: 'Fira Sans', sans-serif;  
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 60px;
 }
 .heading-font {
  font-family: 'Fira Sans', sans-serif;  
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 60px;
  padding-top: 14%;
}
.heading-font-sm {
  font-family: 'Fira Sans', sans-serif;  
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 50px;
}



.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}




.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 35px auto 35px;
  border-width: 3px;
  border-color: rgba(125, 125, 125, 0.25);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #222222;
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #0074a1;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #0074a1 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

nav[class*='navbar navbar-default navbar-fixed-top affix'] div.logo {
  background: url("../img/logo_dark.png");
  background-size: 120px 40px;
  background-repeat: no-repeat;
  width:190px;
  margin:10px 0 0px 10px;
  height: 45px;  
}

@media (min-width: 992px) {

  nav[class='navbar navbar-default navbar-fixed-top affix-top'] div.logo {
    background: url("../img/logo_white.png");  
    background-size: 120px 40px;
    background-repeat: no-repeat;
    width:130px;
    margin:10px 0 0px 10px;
    height: 45px;
  }
  nav[class='navbar navbar-default navbar-fixed-top affix'] div.logo {
    background: url("../img/logo_dark.png");  
    background-size: 120px 40px;
    background-repeat: no-repeat;
    width:130px;
    margin:10px 0 0px 10px;
    height: 45px;
  }
  .navbar-default {
    background-color: transparent ;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }
}
header {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header.jpg');  
  color: white;
  text-shadow: 2px 2px 6px #000000;
  
}

header .overlay{
  background-color: rgba(0,0,0,0.5);
  min-height: 100%;
  min-width: 100%;
  background-size: cover; 
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}

#headerlogo {
  width: 250px;  
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  header {height: 100vh;}
}

@media (min-width: 768px) {

  header .header-content {

    padding: 0;
    height: 100vh;
  }

  #headerlogo {
    width: 280px;  
    margin-bottom: 10px;
  }

  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
@media (min-width: 766px) {
  #headerlogo {
    width: 250px;  
    margin-bottom: 20px;
    margin-top: 200px;
  }
  header .header-content .header-content-inner h1 {
    font-size: 36px;
  }
}

@media (min-width: 1400px) {
  #headerlogo {
    width: 450px;  
    margin-bottom: 40px;
  }  
}


/*Teacher*/

section.teachers {
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/class.jpg');  
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  position: relative;
}

section.teachers .toverlay .teacher-content {
  position: relative;
  padding: 150px 0 50; 
  margin: 0 auto;
}

section.teachers .toverlay .teacher-content .teacher-content-inner{

  margin-top: 170px;

  transform: translateY(-50%);    
}

section.teachersblock p{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
}

section.teachers .toverlay{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  
}

section.teachers .toverlay .teacher-content .teacher-content-inner h1{ 
  margin-bottom: 30px;
  font-size:70px;

}

@media (max-width: 768px) {
  section.teachers .toverlay .teacher-content .teacher-content-inner{

    margin-top: 180px;      
    transform: translateY(-50%);    
  }
  section.teachers .toverlay .teacher-content .teacher-content-inner h1{ 
    margin-bottom: 30px;
    font-size:40px;
  }
}

/*Teacher end*/

/*Services*/

section.services {
  height: 400px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('../img/books.jpg');  
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  position: relative;
}

section.services .toverlay .services-content {
  position: relative;
  padding: 150px 0 50; 
  margin: 0 auto;
}

section.services .toverlay .services-content .services-content-inner{

  margin-top: 170px;

  transform: translateY(-50%);    
}

section.servicesblock p{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
}

section.services .toverlay{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  
}

section.services .toverlay .services-content .services-content-inner h1{ 
  margin-bottom: 30px;
  font-size:70px;

}
@media (max-width: 768px) {
  section.services .toverlay .services-content .services-content-inner h1{ 
    margin-bottom: 30px;
    font-size:40px;

  }

  section.services .toverlay .services-content .services-content-inner{

    margin-top: 180px;

    transform: translateY(-50%);    
  }
}

/*Services end*/

/*Testimonial*/

section.fulltestimonial {
  height: 400px;
  background-position: bottom;
  background-image: url('../img/testimonial.jpg');  
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  position: relative;
}

section.fulltestimonial .toverlay .fulltestimonial-content {
  position: relative;
  padding: 150px 0 50; 
  margin: 0 auto;
}

section.fulltestimonial .toverlay .fulltestimonial-content .fulltestimonial-content-inner{

  margin-top: 170px;

  transform: translateY(-50%);    
}

section.fulltestimonialblock p{

  font-size: 22px;
}

section.fulltestimonial .toverlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  
}

section.fulltestimonial .toverlay .fulltestimonial-content .fulltestimonial-content-inner h1{ 
  margin-bottom: 30px;
  font-size:70px;

}
@media (max-width: 768px) {
  section.fulltestimonial .toverlay .fulltestimonial-content .fulltestimonial-content-inner h1{ 
    margin-bottom: 30px;
    font-size:40px;

  }

  section.fulltestimonial .toverlay .fulltestimonial-content .fulltestimonial-content-inner{

    margin-top: 180px;

    transform: translateY(-50%);    
  }
}

section.fulltestimonialblock p{
  font-style: italic; 
  font-size: 18px;
  color:  #939393;
}
/*Testomonial end*/
.allign{
  vertical-align: middle;
}

/*Student Sessions*/

section.studentsessions {

  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: right;
  background-image: url('../img/pencil.jpg');  
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  position: relative;

}

section.studentsessions .studentsession-content {
  position: relative;
  padding: 150px 0 50; 
  margin: 0 auto;
}

section.sudentsessions .studentsession-content .studentsession-content-inner{
 max-width: none;
 margin: 0;
 position: absolute;
 top: 70%;
 transform: translateY(-50%);    
}

section.studentsessionsblock p{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
}

section.studentsessions .overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  right:  0;
  
}

section.studentsessions .studentsession-content .studentsession-content-inner h1{

  margin-top: 130px;
  margin-bottom: 40px;
  font-size:70px;
}



section {
  padding: 100px 0;
}

@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}

section h2 {
  font-size: 50px;
}
section.download {
  padding: 0px 0;
  position: relative;  
  
}
section.download h2 {
  margin-top: 0;
  font-size: 50px;
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  section.download{
    padding: 0px 0;
  }
  section.download h1 {
    font-size: 25px;
  }
  section.download h2 {
    font-size: 70px;
  }
}
section.features .section-heading {
  margin-bottom: 100px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}
section.features .device-container,
section.features .feature-item {
  max-width: 300px;
  margin: 0 auto;
}
section.features .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}
section.features .feature-item {
  text-align: center;
  margin-bottom: 100px;
}
section.features .feature-item h3 {
  font-size: 30px;
}
section.features .feature-item i {
  font-size: 80px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  section.features .device-container,
  section.features .feature-item {
    max-width: none;
  }
}
section.testimonials {

  background-position: center;
  background-image: url('../img/exam.jpg');  
  color: black;  
  position: relative;
}
section.testimonials .testimonials-content {
  position: relative;
  z-index: 1;
}
section.testimonials .testimonials-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  max-width: 450px;
  font-size: 50px;
}
@media (min-width: 768px) {
  section.testimonials .testimonials-content h2 {
    font-size: 80px;
  }
  section#Testimonials p{
    font-style: italic;
    font-size: 40px;

    font-family: 'Kalam', cursive;
  }
}
@media (max-width: 768px) {
  section#Testimonials h2 {
    font-size: 35px;
  }
  section#Testimonials p{
    font-style: italic;
    font-size: 23px;
    font-family: 'Kalam', cursive;
  }
}

section#Testimonials{
  position: relative; 

}

section#Testimonials div.overlay {  
  background-color: rgba(0,0, 0, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:  0;  
}

section.testimonials p{
  padding: 50px 120px 30px 120px;
  margin-top: 20px;
  font-size: 25px;
  font-style: italic;

}

section.testimonials h1{
  padding: 50px 0 30px 0;
  margin-top: 20px;
  font-size: 35px;
  
  text-align: center;
}
section.contact {
  text-align: center;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

/*Contact*/

section.contactform {
  height: 400px;
  background-position: top;
  background-image: url('../img/keyboard.jpg');  
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  position: relative;
}

section.contactform .toverlay .contactform-content {
  position: relative;
  padding: 150px 0 50; 
  
}

section.contactform .toverlay .contactform-content .contactform-content-inner{

  margin-top: 150px;

  transform: translateY(-50%);    
}


section.contactform .toverlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  
}

section.contactform .toverlay .contactform-content .contactform-content-inner h1{ 
  margin-bottom: 30px;
  font-size:70px;

}
@media (max-width: 768px) {
  section.contactform .toverlay .contactform-content .contactform-content-inner h1{ 
    margin-bottom: 30px;
    font-size:40px;

  }

  section.contactform .toverlay .contactform-content .contactform-content-inner{

    margin-top: 180px;

    transform: translateY(-50%);    
  }
}

section#contact {
  background-color: #f1f1f1;  
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #8e8e8e;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}

div.contacttext p{

  color: black;
  font-size: 24px;
}

/*Contact End */


footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
.bg-primary {
  background: #2e4b7a;
  background: -webkit-linear-gradient(#2e4b7a, #0e2f63);
  background: linear-gradient(#2e4b7a, #0e2f63);
}
.text-primary {
  color: #fdcc52;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline-dark {
  color: black;
  border-color: black;
  border: 1px solid;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}

.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #0074a1;
  border-color: #0074a1;
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

.quote {
  color: rgba(255,255,255,.4);
  text-align: center;
  margin-bottom: 30px;

}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #0074a1;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}

#Testimonials {

  color: white;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
.wow {
  visibility: hidden;
}